pypdf==3.5.0
azure-identity==1.13.0b4
azure-search-documents==11.4.0b8
azure-ai-formrecognizer==3.3.2
azure-storage-blob==12.14.1
azure-ai-documentintelligence
openai
streamlit
python-dotenv
pyyaml
langchain
langchain-openai
chromadb
sentence-transformers
gpt4all
uvicorn
fastapi
