# For the server
uvicorn
fastapi
azure-core
azure-search-documents
python-dotenv
openai
aiohttp
langchain
langchain-community
langchain-openai
azure-ai-documentintelligence
gpt4all
chromadb
sentence-transformers
pyyaml
