body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#chat-name {
  text-align: center;
  color: #333;
}

.chat-app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100%; /* Full viewport width */
  padding-bottom: 60px;
}

.chat-container {
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Spacing inside the chat container */
  background-color: #f4f4f4; /* Light gray background for the chat area */
  flex: 1; /* Allows the chat container to expand to fill available space */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  margin-bottom: 10px; /* Space between chat container and input area */
}

.input-container {
  flex-shrink: 0; /* Prevent the input container from shrinking */
  padding: 10px; /* Spacing inside the input container */
  background: white; /* White background for the input area */
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.message {
  padding: 8px 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  max-width: 80%;
}

.user {
  background-color: #d1e7dd;
  align-self: flex-end;
}

.assistant {
  background-color: #fff3cd;
  align-self: flex-start; /* Aligns assistant messages to the left */
}

.document {
  background-color: #f8d7da;
  align-self: center; /* Centers document messages */
  margin-left: auto; /* Adds automatic margin to both sides to aid centering */
  margin-right: auto;
}

.loading-spinner {
  border: 4px solid rgba(0,0,0,.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #007bff;
  margin: 10px auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-message {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.btn-send {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-send:hover {
  background-color: #0056b3;
}
